{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Biblioweb{% endblock title %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% endblock stylesheets %}
  </head>
  <body>
    <header class="container">
      <div class="header-top">
        <a href="{% url 'main:index' %}">
          <img
            src="{% static 'img/logo-desktop.png' %}"
            alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
          />
        </a>
        <div class="header-searchbar-wrapper">
          <form action="" method="">
            <input
              class="header-searchbar"
              type="search"
              name="search"
              placeholder="Libro o autor"
              aria-placeholder="Buscar por libro o autor"
            />
            <input type="submit" style="display: none" />
          </form>
        </div>
        <button class="header-session-btn">Log in</button
        ><span class="header-session-btn--deco"> // </span
        ><button class="header-session-btn">Sign up</button>
      </div>
      <nav class="page-nav">
        <ul class="page-nav-links" role="list">
          <li class="page-nav-item">
            <a class="page-nav-link" href="{% url 'books:index' %}">Books</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="{% url 'books:authors' %}"
              >Authors</a
            >
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Ratings</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Subscription</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="{% url 'account:login' %}"
              >Iniciar sesión ➡️</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="page-nav-item">
            <a class="page-nav-link" href="{% url 'account:logout' %}"
              >Cerrar sesión ➡️</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      <p>
        Default content (If you see this, maybe you have to override the &#123;%
        block content %&#125; block)
      </p>
      {% endblock content %}
    </main>
    <footer>
      <div class="container">
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca de Biblioweb</h4>
          <ul class="footer-link__link-list" role="list">
            <li>
              <a href="#">Acerca del proyecto</a>
            </li>
            <li>
              <a href="#">Información legal</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Coopera con Biblioweb</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <ul class="footer-link__link-list" role="list">
            <li>
              <a href="register.html">Regístrate</a>
            </li>
            <li>
              <a href="#">Cómo registrarse</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <a class="btn btn-primary footer-link__contact-btn" href="#"
            >8 (025) 752-33-03</a
          >
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Síguenos</h4>
          <ul
            class="footer-link__link-list footer-link__link-list--social-media"
            role="list"
          >
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="{% static 'img/icons/instagram-icon.svg' %}"
                  alt="Ícono de Instagram"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="{% static 'img/icons/facebook-icon.svg' %}"
                  alt="Ícono de Facebook"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="{% static 'img/icons/youtube-icon.svg' %}"
                  alt="Ícono de YouTube"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="{% static 'img/icons/twitter-icon.svg' %}"
                  alt="Ícono de Twitter"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
