{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read Book | {{ book.title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{% url 'main:index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'books:index' %}">Books</a>
        </li>
        <li>
          <a href="{% url 'books:detail' book.slug %}">{{ book.title }}</a>
        </li>
        <li>
          <a href="{% url 'books:read' book.slug %}" aria-current="page"
            >{{ book.title }} (Reading)</a
          >
        </li>
      </ul>
    </nav>

    <h1>Read Book {{ book.title }}</h1>
    <p>{{ book.blurb }}</p>
    <img
      src="{% static 'books/'|add:book.slug|add:'/silly-face.webp' %}"
      alt="Silly face: For testing purposes"
    />
    <div class="reader" style="border: 2px solid black">
      <form action="">
        <select name="chapter" id="">
          <option value="">Chapter</option>
          <option value="1">Chapter 1</option>
          <option value="2">Chapter 2</option>
        </select>
        <button type="submit">Go</button>
      </form>
      <h1>{{ book.title }}</h1>
      <hr />
      {{ chapter_content | safe }}
      <div>
        {% for number in list_of_page_numbers %}
        <a
          style="
            padding: 0.25rem;
            border: 1px solid black;
            display: inline-block;
          "
          href="{% url 'books:read' book.slug %}?page={{number}}"
          >{{ number }},</a
        >
        {% endfor %}
      </div>
    </div>
  </body>
</html>
