{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail | {{ book.title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{% url 'main:index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'books:index' %}">Books</a>
        </li>
        <li>
          <a href="{% url 'books:detail' book.slug %}">{{ book.title }}</a>
        </li>
      </ul>
    </nav>
    <h1>{{ book.title }}</h1>
    {% for author in book.authors.all %}
    <div><b>Autor: </b><span>{{ author }}</span></div>
    {% endfor %}

    <div><b>Año: </b><span>{{ book.pub_year }}</span></div>

    {% for genre in book.genres.all %}
    <div><b>Género: </b><span>{{ genre }}</span></div>
    {% endfor %}

    <div><b> Páginas</b>: <span>{{ book.pages }}</span></div>
    <div><b> Idioma</b>: <span>{{ book.language }}</span></div>
    <div><b> Idioma original</b>: <span>{{ book.org_language }}</span></div>

    {% if book.cover.image %}
    <img src="{{ book.cover.image.url }}" alt="{{ book.cover.alt }}" />
    {% else %}
    <img
      src="{% static 'books/placeholder-cover.jpg' %}"
      alt="Imagen de portada no disponible"
    />
    {% endif %}

    <h2>Description</h2>
    <p>{{ book.description }}</p>

    <h2>Blurb</h2>
    <p>{{ book.blurb }}</p>

    <h2>Awards</h2>
    {% for award in book.award_set.all %}
    <ul>
      <li>{{ award }}</li>
    </ul>
    {% endfor %}

    <a href="{% url 'books:read' book.slug %}">Read this book</a>
  </body>
</html>
