<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <a href="{% url 'books:index' %}">Return to books page (You're here)</a>
    <a href="{% url 'main:index' %}">Return to index page</a>
    <h2>Genres</h2>
    <ul>
      {% for genre in genres %}
      <li>
        <a href="{% url 'books:genre' genre.id %}">{{ genre.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <h1>Index books</h1>
    <p>*Grid of ALL books*</p>
    {% if books %}
    <ul>
      {% for book in books %}
      <li>
        <a href="{% url 'books:detail' book.slug %}">{{ book.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no books available.</p>
    {% endif %}
  </body>
</html>
