<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail | {{ book.title }}</title>
  </head>
  <body>
    <a href="{% url 'main:index' %}">Return to index page</a>
    <a href="{% url 'books:index' %}">Return to books page</a>
    <h1>Book Detail</h1>
    <h2>{{ book.title }}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, rem nulla ea
      nesciunt quidem accusamus nisi asperiores alias! Doloribus praesentium,
      sipsum itaque aliquam maiores nam id obcaecati vel nihil sequi. This is
      the detail page for the {{ book.title }} Book. ID: {{ book.id }}
    </p>
    {% if book.cover.image %}
    <img src="{{ book.cover.image.url }}" alt="{{ book.cover.alt }}" />
    {% endif %}
  </body>
</html>
