<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read Book | {{ book.title }}</title>
  </head>
  <body>
    <h1>Read Book {{ book.title }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
      perspiciatis sapiente porro iusto error suscipit eaque sint dolore
      quaerat? Recusandae incidunt qui dignissimos. Consequuntur, cum magnam
      maxime quas minima harum?
    </p>
    <div class="reader" style="border: 2px solid black">
      <form action="">
        <select name="chapter" id="">
          <option value="">Chapter</option>
          <option value="1">Chapter 1</option>
          <option value="2">Chapter 2</option>
        </select>
        <button type="submit">Go</button>
      </form>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellat
        dolorum tempora voluptas amet facere distinctio iusto dignissimos vel?
        Necessitatibus nihil excepturi amet iusto maxime, placeat fugit
        consectetur facere veniam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellat
        dolorum tempora voluptas amet facere distinctio iusto dignissimos vel?
        Necessitatibus nihil excepturi amet iusto maxime, placeat fugit
        consectetur facere veniam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellat
        dolorum tempora voluptas amet facere distinctio iusto dignissimos vel?
        Necessitatibus nihil excepturi amet iusto maxime, placeat fugit
        consectetur facere veniam.
      </p>
      <p>1, 2, 3, 4, 5 ... 10</p>
    </div>
  </body>
</html>
